<section>
  <div class="drag-icon">
    <svg width="512" height="481" viewBox="0 0 512 481.157" shape-rendering="geometricPrecision"
      text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
      <path
        d="M35.64 0h159.702c19.604 0 35.641 16.037 35.641 35.64v145.308c0 19.604-16.037 35.64-35.641 35.64H35.64c-19.603 0-35.64-16.036-35.64-35.64V35.64C0 16.037 16.037 0 35.64 0zm281.017 264.569h159.702c19.604 0 35.641 16.036 35.641 35.64v145.307c0 19.604-16.037 35.641-35.641 35.641H316.657c-19.603 0-35.64-16.037-35.64-35.641V300.209c0-19.604 16.037-35.64 35.64-35.64zm-281.017 0h159.702c19.604 0 35.641 16.036 35.641 35.64v145.307c0 19.604-16.037 35.641-35.641 35.641H35.64C16.037 481.157 0 465.12 0 445.516V300.209c0-19.604 16.037-35.64 35.64-35.64zM316.657 0h159.702C495.963 0 512 16.037 512 35.64v145.308c0 19.604-16.037 35.64-35.641 35.64H316.657c-19.603 0-35.64-16.036-35.64-35.64V35.64c0-19.603 16.037-35.64 35.64-35.64z" />
    </svg>
  </div>
  <div class="que-input">
    <input type="text" placeholder="Question" class="question">
    <select name="inputType" class="inputType" (change)="updateAnswerType($event)">
      <option value="short-answer">Short answer</option>
      <option value="paragraph">Paragraph</option>
      <option value="multiChoice">Multiple choice</option>
      <option value="checkbox">Checkbox</option>
      <option value="date">Date</option>
      <option value="time">Time</option>
    </select>
  </div>
  <!-- Short-Answer -->
  @if (answerType()==='short-answer') {
  <input type="text" placeholder="Answer" class="answer">
  }
  <!-- paragraph -->
  @if (answerType()==='paragraph') {
  <textarea name="paragraph" class="paragraph answer" placeholder="Answer"></textarea>
  }
  <!-- multiChoice -->
  @if (answerType() === 'multiChoice') {
  <div class="multiChoice">
    @for (option of multipleChoiceOptions; track $index) {
    <div class="option">
      <input type="radio" [name]="'multiple-choice'" disabled />
      <input type="text" placeholder="Option {{$index + 1}}" />
    </div>

    }
    <button type="button" (click)="addMultipleChoiceOption()">Add option</button>
  </div>
  }
  <!-- checkbox -->
  @if (answerType() === 'checkbox') {
  <div class="checkbox">
    @for (option of checkboxOptions; track $index) {
    <div class="option">
      <input type="checkbox" disabled />
      <input type="text" placeholder="Option {{$index + 1}}" class="option-input answer" />
    </div>
    }
  </div>
  <button type="button" (click)="addCheckboxOption()">Add option</button>
  }
  <!-- Date -->
  @if (answerType()=== 'date') {
  <input type="date" class="answer">
  }
  <!-- Time -->
  @if (answerType()=== 'time') {
  <input type="time" class="answer">
  }
  <div class="required">
    <input type="checkbox">
    <label for="required">Required</label>
  </div>
</section>