@if (form) {
<form class="form-wrapper" [formGroup]="form">
  <div class="form-header">
    <h1>{{form.value.title}}</h1>
    <p>{{form.value.description}}</p>
    <p class="required-note">* Indicates required question</p>
  </div>
  <div class="form-body" formArrayName="questions">
    @for (question of questions.controls; track $index; let i = $index) {
    <div class="question-card" [formGroupName]="i">
      <label for="" class="question-label">{{question.value.text}}@if (question.value.required) {<span
          class="required">*</span>}</label>
      @switch (question.value.type) {
      @case ('short-answer') {
      <input type="text" placeholder="Answer" disabled>
      }
      @case ('paragraph') {
      <textarea placeholder="Answer" disabled ></textarea>
      }
      @case ('multiChoice') {
      <div class="multiChoice" formArrayName="options">
        @for (option of getOptions(i).controls; track $index; let j = $index) {
        <div class="option">
          <input type="radio" [value]="option.value" disabled/>
          <label>{{ option.value }}</label>
        </div>
        }
      </div>
      }
      @case ('checkbox') {
      <div class="checkbox" formArrayName="options">
        @for (option of getOptions(i).controls; track $index; let j = $index) {
        <div class="option">
          <input type="checkbox" disabled>
          <label>{{ option.value }}</label>
        </div>
        }
      </div>
      }
      @case ('date') {
      <input type="date" disabled>
      }
      @case ('time') {
      <input type="time" disabled>
      }
      @default {
      <p>
        Unknwon Question Type
      </p>
      }
      }

    </div>
    } 
  </div>
  
</form>
}