.form-title{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #c1c1c1;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  border-radius: 6px;
  border-top: 5px solid #8658a0; /* 2px colored top border (using a shade of purple) */
  margin-bottom: 0px;
  margin-top: 80px;
}
.title{
  font-size: larger;
  
}
input[type="text"], textarea{
  margin: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid lch(59.65% 1.17 19.15);
  transition: border-bottom-color 0.2s ease;
  font-family: inherit;
}
#description{
  width: 100%;
  border-radius: 0; 
}
