.form-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 100%;
  max-width: 800px;
  transition: box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-top {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 15px; */
  z-index: 1000;
}
.form-title{
  margin-left: 15px ;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s ease;
  font-size: larger;
}
.form-title:hover{
  border-bottom: 1px solid #333;
}
.form-title:focus{
   border-bottom: 1px solid #007bff;
}
.add-question-btn {
  background-color: #cc81e2;
  color: white;
  padding: 4px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto 0 auto;
  width: fit-content;

}

.add-question-btn:hover {
  background-color: #d467f1;
}

.publish{
  position: fixed;
  top: 8px;
  right: 20px;
  z-index: 999;
  background-color: #8b5cf6;
  color: white;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* margin-right: 1rem; */
  transition: background-color 0.2s ease;
}

.title-card{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #c1c1c1;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  border-radius: 6px;
  border-top: 5px solid #8658a0; /* 2px colored top border (using a shade of purple) */
  margin-bottom: 0px;
  margin-top: 80px;
}
.title{
  font-size: larger;
  
}
input[type="text"], textarea{
  margin: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid lch(59.65% 1.17 19.15);
  transition: border-bottom-color 0.2s ease;
}
#description{
  width: 100%;
  border-radius: 0; 
}
