<app-header />
<div class="header-top">
  <input type="text" class="form-title" placeholder="Untitle form" [(ngModel)]="formService.formTitle" name="formTitle">
</div>
<form (ngSubmit)="onPublish()">
  <button type="submit" class="publish">{{ formId? 'Save': 'Publish'}}</button>
  <div class="form-container">
    <section class="title-card">
      <input type="text" placeholder="Untitle form" class="title" [(ngModel)]="formService.title" name="title">
      <br>
      <textarea name="description" id="description" placeholder="For description" [(ngModel)]="formService.description"></textarea>
    </section>
    <ng-container>
      @for (question of formService.questions(); track question.id) {
        <app-question [question]="question" />
      }
    </ng-container>
    <button type="button" class="add-question-btn" (click)="addQuestion()">Add Question</button>
  </div>
</form>