
.form-action{
  position: fixed;
  margin-top: 15px;
  right: 15px;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.share-box {
  width: 310px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 6px;
  gap: 8px;
  margin-bottom: 6px;
}

.share-box input {
  width: 160px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.copy-btn {
  background: #eee;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn {
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  padding:  auto;
  margin: auto;
  width: 120px;
}
