<h1 class="forms-label">Forms</h1>
<div class="forms-container">
  <h2 class="section-title">Start a new form</h2>
  <button class="new-form-card" (click)="onCreateNew()">
    Create New
  </button>

  @if (isLoading) {
    <div class="loading-msg">
      Loading Forms....
    </div>
  }

  <h2 class="section-title">All forms</h2>
  <div class="forms">
    @for (form of forms; track $index) {
      <div class="form-list">
        <div class="form-card">
          <div class="form-thumbnail simple-form-card">
            <img  alt="Form Preview">
          </div>
          <div class="form-details simple-form-card">
            <h3>{{ form.formTitle || 'untitle form'}}</h3>
          </div>
        </div>
      </div>
    }

    @if (!isLoading && forms.length == 0) {
      No forms founds... Create New
    }
  </div>
</div>

